<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Receipe Application</title>
    <style>
        .form-container{
            margin-top: 20px;
            width: 50%;
        }

        h1{
            margin-bottom: 19px;
        }
        label{
            font-size: 16px;
        }

        img{
            height: 100px;
            width: 100px;
        }
    </style>
</head>
<body>
    
    {% block start %}

    {% endblock %}
</body>
</html>